############################################################
# Operating System Files
############################################################
.DS_Store
Thumbs.db


############################################################
# Logs
# Spring Boot and runtime logs
############################################################
*.log
logs/


############################################################
# Maven Build Output
############################################################
/target/
dependency-reduced-pom.xml


############################################################
# Compiled Java Artifacts
############################################################
*.class
*.jar
*.war
*.ear


############################################################
# IDE & Editor Files
############################################################
.idea/
.vscode/
*.iml


############################################################
# Environment & Sensitive Files
############################################################
.env
*.pem
*.key
*.p12
application-local.properties
application-dev.properties
